@import '/src/styles/variable.scss';

.basket {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: $Gray;

  .logo {
    width: 150px;
    margin: 10px;
  }

  .basketHeader {
    display: flex;
    height: 100px;
  }
}
