@import '/src/styles/variable.scss';

.remote {
  width: 100px;
  height: 100px;
  position: absolute;
  font-size: 30px;
  color: white;
  background-color: $Black;

  &:hover {
    cursor: pointer;
  }
}

.left {
  left: 0px;
}

.right {
  right: 20px;
}
