.BasketProduct {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  border-top: 1px solid gray;
  padding: 15px 0;

  .productImage {
    width: 50px;
    height: 50px;
  }

  .productInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    font-weight: 300;

    .delete {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.BasketProduct div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
