@import '/src/styles/variable.scss';

.productContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 900px;
  position: relative;
  overflow: hidden;
  background-color: $Beige;

  .productSlider {
    display: grid;
    grid-template-columns: repeat(6, 400px);
    align-items: center;
    transition: transform 0.5s;
  }
}
