.basketHeader {
  .totalPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 27px;
  }

  .basketDetail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 300;
  }

  .basketDetail div:nth-child(2n) {
    justify-self: end;
  }

  .basketDetail div:nth-child(7) {
    margin-top: 10px;
    font-weight: 400;
  }

  .basketDetail div:last-child {
    margin-top: 10px;
    font-weight: 400;
  }
}
