.itemList {
  padding: 5%;
  width: 500px;
  height: 130vh;
  background-color: #f6f5e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  &:hover {
    background-color: #f0efe1;
  }
  .itemImg {
    height: 50%;
  }
  .itemName {
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
  }
  .itemSelect {
    display: flex;
    justify-content: center;
    font-family:
      Suisse Regular,
      sans-serif;
    color: #666;
    .sizeList {
      color: #666;
    }
    .itemBtn {
      display: flex;
      .itemRadio {
        display: flex;
      }
      .itemRadioParagraph {
        padding: 15px 0 10px 0;
        color: #666;
      }
    }
  }
  .itemPrice {
    .priceList {
      display: flex;
      justify-content: center;
      color: #666;
    }
  }
  .itemMiddle {
    height: 100px;
    .hairType {
      padding: 20px;
      display: flex;
      width: 100%;
      gap: 50px;
      border-top: 2px solid #252525;
      border-bottom: 1px solid rgba(51, 51, 51, 0.2);
      .hairString {
        display: flex;
        font-family:
          Suisse Medium,
          sans-serif;
      }
      .itemType {
        width: 70%;
        color: #666;
        font-family:
          Suisse Medium,
          sans-serif;
      }
    }
    .aromaType {
      width: 100%;
      padding: 20px;
      display: flex;
      gap: 50px;
      border-bottom: 1px solid rgba(51, 51, 51, 0.2);
      .aromaString {
        display: flex;
        font-family:
          Suisse Medium,
          sans-serif;
      }
      .itemAroma {
        width: 70%;
        color: #666;
        font-family:
          Suisse Medium,
          sans-serif;
      }
    }
    .itemCartBlack {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60px;
      color: white;
      background-color: black;
    }
  }
}
